/* Reiniciar el navegador para evitar diferencia de estilos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilos generales del cuerpo de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #90387d;
    color:rgb(14, 14, 1)
}

/* estilopara el encabezado con degradado*/
.site-header{
    background: linear-gradient(90deg, #f4f2f2,#d406bf);
    color: rgb(15, 97, 31);
    padding: 2rem;
    text-align: center;
}

.subtible{
    opacity: 50%;
}

.content{
    display: flex; /*coloca una tarjeta al lado de la otra*/
    gap: 3rem;
    flex-wrap: wrap; /* permite que las tarjetas bajen si no caben*/
    justify-content: center;
    padding: 2rem;

}

.card{
    background-color: blueviolet;
    padding: 1.25rem;
    border-radius: 22px;
    box-shadow: 0.6px 18px rgba rgba(rgb(187, 26, 26), rgb(68, 85, 68), blue, alpha); /*dae profundidad a la carta*/
    width: 300px;
}
.card h2{
    margin-bottom: 0.5rem;
}
.card p{

    margin-bottom: 1rem;
    color: aquamarine;
}

.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #f4f2f2;
    border-radius: 8px;
    color: black;
    justify-content: center;
}

.card a{
    justify-content: center;
    display: flex;
    text-align: center;
}

.site-footer{
    text-align: center;
    padding: 1rem;
    color: aliceblue;
}

