/* Reiniciar el navegador para evitar diferencia de estilos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilos generales del cuerpo de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #90387d;
    color:rgb(14, 14, 1)
}

/* estilopara el encabezado con degradado*/
.site-header{
    background: linear-gradient(90deg, #f4f2f2,#d406bf);
    color: rgb(15, 97, 31);
    padding: 2rem;
    text-align: center;
}